:root {
    --bg-dark-custom: rgb(235,235,235);
    --bg-custom: rgb(245,245,245);
    --bg-light-custom: rgb(255,255,255);
}

/* Custom dark theme colors */
[data-bs-theme="dark"] {
    --bg-dark-custom: rgb(30,30,30);
    --bg-custom: rgb(20,20,20);
    --bg-light-custom: rgb(40,40,40);
}

/* Fix carousel text color in dark mode */
[data-bs-theme="dark"] .carousel-caption h5,
[data-bs-theme="dark"] .carousel-caption p {
    color: white !important;
}

/* Fix carousel controls and indicators in dark mode */
[data-bs-theme="dark"] .carousel-control-prev-icon,
[data-bs-theme="dark"] .carousel-control-next-icon {
    filter: invert(1);
}

[data-bs-theme="dark"] .carousel-indicators [data-bs-target] {
    background-color: white;
}

/* Website logo rotate animation */
#logo-animated {
    transition: transform 1s ease;
    transform: rotate(0deg);
}

#logo-animated:hover {
    transform: rotate(360deg) scale(1.2);
}

/* Initial position for Hello section */
#hello-animated {
    position: relative;
    top: 100px;
    opacity: 0;
}

/* Set custom background colors */
body {
    background-color: var(--bg-custom) !important;
}

.bg-dark-custom {
    background-color: var(--bg-dark-custom) !important;
}

.bg-custom {
    background-color: var(--bg-custom) !important;
}

.bg-light-custom {
    background-color: var(--bg-light-custom) !important;
}

/* Fix to make both carousels equal size!! */
.carousel,
.carousel-inner,
.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* For carousel's label and description */
.carousel-text-shadow {
    text-shadow: 1px 1px 6px black;
}

/* Shadow with lift effect for "About me" card */
.shadow-lift {
    box-shadow:
            0 8px 16px rgba(0, 0, 0, 0.15),
            0 4px 8px rgba(0, 0, 0, 0.1);
    border: 0 !important;
    transition: box-shadow .5s ease;
}

.shadow-lift:hover {
    box-shadow:
            0 12px 24px rgba(0, 0, 0, 0.25),
            0 6px 12px rgba(0, 0, 0, 0.2);
}

/* A class for keeping consistent border radius */
.border-radius-25px {
    border-radius: 25px !important;
}

/* Image overlay effect for PFPs section */
.img-overlay-container {
    position: relative;
    width: 100%;
}

.img-overlay-img {
    display: block;
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-overlay-container:hover .img-overlay {
    opacity: 1;
}

/* Projects section */
.card-img-top {
    height: 400px;
    object-fit: contain;
}
